.pageFrame {
  /**Code Modification don by Tejasve Gupta on 14-06-2024*/
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: var(--page-min-height);
  /* background: linear-gradient(to bottom right, #f3f3f3, #ffffff); */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  margin-top: var(--page-margin-top);
  padding-bottom: var(--page-padding-bottom);
  padding-top: 1%;
}
/**
  Added by - Ashish Dewangan on 27-08-2024
  Reason - To style link
  */
.viewLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #313131;
}
.viewIcon:hover {
  cursor: pointer;
  color: #313131;
}
/**
  End of addition by - Ashish Dewangan on 27-08-2024
  Reason - To style link
  */
