/**Created By Tejasve Gupta on 26-05-2024
 * Reason - Reset new password
 */

.pageFrame {
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /**Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
  min-height: var(--page-min-height);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--page-margin-top);
  padding-bottom: var(--page-padding-bottom);
}

.coloredBackground {
  /* background-color: var(--page-background-color); */
  display: flex;
  /* background: linear-gradient(to bottom right, #f0f8ff, #e6f7ff); */
  border-radius: 3px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  height: 70vh;
  width: 70%;
  width: 63%;
  padding: 0px;
  text-align: center;
  justify-content: flex-start;
  border: var(--colored-background-border);
}
/**End of Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
.loginImage {
  display: flex;
  /* background-image: url("../../assets/forgot.jpg"); */
  background-image: url("../../assets/fpassword.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  justify-content: center;
  font-size: xxx-large;
  width: 62%;
  align-items: center;
  
  /**Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
  border-radius: 3px 0 0 3px;
}
/**End of Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
.pageContainer {
  margin-left: var(--page-margin-left);
  margin-right: var(--page-margin-right);
  padding-bottom: var(--page-margin-bottom);
  /* margin-top: var(--page-margin-top); */
  width: 50%;
}

.title {
  font-weight: bold;
  /* margin-bottom: 4.5vh;
  margin-top: 8px; */
  margin-top: 15px
}

/* .formInputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */
.formInputContainer {
  display: flex;
  /* align-items: center;  */
  /* margin-bottom: 20px; */
  flex-direction: column;
  padding-top: 6%;

}

.inputPair {
  /**Code modification by Tejasve Gupta on 15-06-2024
              reason - Style fixed as suggested by Tester*/
  align-items: baseline;
  /**End of Code modification by Tejasve Gupta on 15-06-2024
              reason - Style fixed as suggested by Tester*/
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.inputLabel {
  /* Code Addition by Tejasve Gupta on 12-06-2024
  Reason - Style Changes Asked by Tester*/
  width: 60%;
  width: 40%;
  /* width: 20%; */

  /* End of Code Addition by Tejasve Gupta on 12-06-2024
  Reason - Style Changes Asked by Tester*/
  text-align: left;
  padding-right: 10px;
  /* font-weight: bold; */
  font-family: revert-layer;
  font-size: var(--form-label-font-size);
}
.formInput {
	/**Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
  /* Addition by Om shrivastava on 25-09-2024
  Reason : Set the width globally*/
  width: var(--login-signup-button-width);
  /* End of addition by Om shrivastava on 25-09-2024
  Reason : Set the width globally*/
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.eyeIcon{
  margin-left: -30px; /* Adjust position of eye icon as needed */
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
  margin-top: 5%;
}
/**End of Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
.formInputError {
  color: red;
  text-align: start;
  font-size: 0.9em;
  font-size: var(--page-validation-font-size);
  margin-top: 1px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  width: 100%;
  margin-left: -18%;
}
.inputError {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: baseline;
  align-items: flex-start;
  justify-content: center;

}

.submitButton {
  background-color: #5e7c91;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #0c2a3f;
}

.mandatoryField {
  color: red;
}

.imageText {
  width: 50%;
  padding: 10px;
  text-align: center;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.imageText2 {
  font-size: 25px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.textButtons {
  display: flex;
  flex-direction: column;
}
.googleSignup {
  border: 0.5px solid rgb(168, 166, 166);
  border-radius: 5px;
  cursor: pointer;
  /* width: fit-content; */
  align-self: center;
}


/**Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */

@media screen and (max-width: 850px) {
  .coloredBackground {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .loginImage {
    width: 100%;
    border-radius: 5%;
  }
  .pageContainer {
    display: contents;
  }
  .imageText {
    height: auto;
    width: auto;
  }
  .pageFrame {
    height: 83vh;
  }
}
/**End of Code Modification don by Tejasve Gupta on 15-06-2024
    Reason - style adjusted as suggested by Tester and manager
    */
    /**Code Addition and Modification by Tejasve Gupta on 18-06-2024
Reason - Styles updated in CSS file*/

    @media screen and (max-width: 800px) {
      .coloredBackground{
        width: 90vw;
        overflow-y: scroll;
        height: 60vh;     
      }

    }
    /**End of Code Addition and Modification by Tejasve Gupta on 18-06-2024
Reason - Styles updated in CSS file*/